/* profil pic start */
.img-style {
  border-radius: 50px;
}

.pic {
margin-right: -12px;
}
/* profil pic end */

/* header start */
.header {
  list-style-type: none;
  margin: 10px;
  overflow: hidden;
  margin-right: 16px;
  font-family: arial,sans-serif;
  font-size: 13px;
}

.headerli a {
  display: block;
  color: rgba(0,0,0,0.87);
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
  float: right;
}

.headerli a:hover {
  text-decoration: underline;
}
/* header end */

.container {
  text-align: center;
  margin: 100px;
}

/* search area start */
.search-area {
  background: transparent ;
  display: flex;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  box-shadow: none;
  z-index: 3;
  height: 44px;
  margin: 0 auto;
  margin-top: -77px;
  width: 482px;
}

.search-area:hover {
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
}

.search {
  flex: 1;
  display: flex;
  padding: 5px 8px 0 16px;
  padding-left: 14px;
}

.search-img {
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
}

.search-img span {
  color: #9aa0a6;
  height: 20px;
  width: 20px;
  margin-top: 0px;
  display: inline-block;
  fill: currentColor;
  line-height: 24px;
  position: relative;
}

.input-enter {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.input-area {
  color: transparent;
  flex: 100%;
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 34px !important;
  display: block;
}

.input {
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  outline: none;
  -webkit-tap-highlight-color: transparent;
  font: 16px arial, sans-serif;
  line-height: 34px;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  appearance: textfield;
  cursor: text;
  border: none;
}
/* search area end */

/* voice img start */
.voice-img {
  padding-top: 6px;
  padding-right: 6px;
}
/* voice img end */

/* button start */
.button {
  text-align: center;
  height: 70px;
  padding-top: 18px;
}

.googlesearch {
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #5F6368;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.feelinglucky {
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.googlesearch:hover {
  border-color: #dfe1e5;
}

.feelinglucky:hover {
  border-color: #dfe1e5;
}
/* button end */

/* footer start */
.footer {
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #dfe1e5;
  border-top: 1px solid #e4e4e4;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: -8px;
  line-height: 15px;
}

.footerli {
  float: left;
  list-style: none;
}

.footerli a {
  display: inline-block;
  color: #70757a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin-left: 14px;
  margin-right: -20px;
}

.footerli a:hover {
  text-decoration: underline;
}
/* footer end */

